<h5><a href="{% url 'recipe_home' %}">home</a></h5>
<h1>Author Details</h1>
<h2>Author: {{author.name}}</h2>
<h2>Bio: {{author.bio}}</h2>
<hr />

<ol>
  <h3>{{author.name}}'s Recipes:</h3>
  {% for recipe in author_recipes %}
  <li><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></li>

  {% endfor %}

  <h3>{{author.name}}'s Favorite Recipes:</h3>
  {% for favorite in favorites %}
    <li><a href="{% url 'recipe_details' recipe_id=favorite.id %}">{{favorite.title}}</a></li>
  {% endfor %}
</ol>
